p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.add-list {
	display: flex;
	align-items: center;
	column-gap: 2px;
	font-size: 16px;
	border: 0;
	border-radius: 2px;
	padding: 10px 10px;
	width: 15%;
	cursor: pointer;
	margin-top: 10px;
	background-color: rgb(238, 132, 100);
	border-radius: 3px;
}
.add-card {
	width: 50%;
	padding: 10px;
}
.add-list:hover {
	background-color: '#fff';
}
.list-container {
	display: flex;
	justify-content: space-between;
}
.all-lists {
	display: flex;
	column-gap: 10px;
}
.single-list {
	text-align: left;
	height: 70px;
}
.single-list-input {
	padding: 10px;
	border-radius: 3px;
	font-size: 16px;
	margin-bottom: 5px;
	width: 90%;
}
.add-button {
	background-color: rgb(22, 194, 236);
	border: 0;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.single-list-column {
	background-color: #acf1b0;
	width: 270px;
	padding: 10px;
	border-radius: 3px;
}
.col-name {
	font-size: 18px;
	margin-bottom: 25px;
}
.single-card-item {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	margin: 10px 0;
	padding: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.card-icons {
	display: flex;
	column-gap: 10px;
}
.delete-list {
	cursor: pointer;
}
