.app-container {
	position: relative;
	z-index: 1;
	padding: 2%;
}
.app-container .background {
	background-image: url('https://img.freepik.com/free-photo/cascade-boat-clean-china-natural-rural_1417-1356.jpg?w=1060');
	min-height: 100vh;
	min-width: 100vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
}
